# Dépendances du module
colorama      # Permet l'affichage de la couleur dans la console

# Dépendances pour les Tests (pytest et ses "plugins")
pytest
pytest-cov
pytest-json
pytest-json-report
pytest-metadata

# Dépendances pour la documentation
sphinx
sphinx-autobuild
sphinx-rtd-theme
ansi2html     # Convertisseur ANSI vers HTML

# Dépendances de palm-denoisers installées avec pip
csbdeep==0.8.1
h5py==3.0.0
numpy<2
scipy
pandas
aydin==0.1.15
imageio==2.21.1
scikit-image==0.18.3
tensorflow<2.11
customtkinter